@import "./sex.scss";
@import "./features.scss";
@import "./activity.scss";
@import "./buttons.scss";
@import "./results.scss";
@import "./adaptive.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 18px;
  color: #683309;
}

.app {
  background: url(../img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  border-radius: 15px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  color: #2e1201;
}

span {
  font-size: 1rem;
  text-transform: uppercase;
}

button {
  width: 40%;
  font-size: 1.33rem;
  line-height: 40px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #683309;
  color: #683309;

  &:disabled {
    border: 1px solid #e9d5c4;
    color: #e9d5c4;
    background: #808080;
  }

  &:hover {
    background: #d9ac8d;
  }
}